.demo-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  flex-wrap: wrap;
  gap: var(--spacing-md);
  padding: 0;

  @media (min-width: 728px) {
    gap: var(--spacing-lg);
  }

  @media (min-width:1440px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    
  .two-columns-item {
    grid-column: span 2;
  }
  }
} 

.home-container {
  padding: var(--spacing-lg);
  gap: var(--spacing-md);

  @media (min-width: 728px) {
    gap: var(--spacing-lg);
  }

  @media (min-width: 1200px) {
    gap: var(--spacing-xl);
  }

  p {
    text-align: justify;

    @media (min-width: 728px) {
      text-align: center;
    }
  }
}

h2, a {
  justify-self: center;
  font-size: var(--font-size-md);
  font-family: "Indie Flower", cursive;
}

