
.home-icon {
  width: var(--icon-size-xs);
  aspect-ratio: 1/1;
  padding: var(--spacing-xs);

  @media (min-width: 728px) {
    width: var(--icon-size-md);
  }

  @media (min-width: 1024px) {
    padding: var(--spacing-sm);
    width: var(--icon-size-lg);
  }
}

.home-link {
  position: absolute;
  top: var(--spacing-md);
  left: var(--spacing-md);
  z-index: 100;
  padding: var(--spacing-sm);

  @media (min-width: 728px) {
    top: var(--spacing-lg);
    left: var(--spacing-lg);
  }
}