
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

.home-icon {
  width: 2.5em;
  aspect-ratio: 1/1;
  display: inline-block;
  background-color: currentColor;
  -webkit-mask: url('/home.svg') no-repeat center / contain;
  mask: url('/home.svg') no-repeat center / contain;

  @media (min-width: 728px) {
    width: 3em;
  }

  @media (min-width: 2560px) {
    width: 5em;
  }
}

.home-link {
  position: absolute;
  top: var(--spacing-md);
  left: var(--spacing-md);
  z-index: 100;
  padding: var(--spacing-sm);

  @media (min-width: 728px) {
    top: var(--spacing-lg);
    left: var(--spacing-lg);
  }
}