.sketchy-button {
  background-color: white;
  overflow: visible;
  z-index: 100;
  border: none;
  padding: var(--spacing-xs);
  cursor: pointer;
}

.sketchy-button-content {
  font-size: var(--font-size-lg);
}