.sketchy-button {
  background-color: var(--color-surface);
  overflow: visible;
  z-index: 100;
  border: none;
  padding-block: var(--spacing-xs);
  padding-inline: var(--spacing-sm) ;
  cursor: pointer;
  position: relative;
}

.sketchy-button-content {
  font-size: var(--font-size-lg);
}