.sketchy-thumbnail {
  height: 10em;
  width: 10em;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-link {
  overflow: visible;
}

.expanded {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em 2em;
  overflow: visible;
  background-color: white;
  h2 {
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
  }

  p {
    font-size: 1em;
    margin: 0.125em 0 0 0;
  }
}

.thumbnail-container {
  display: inline;
}

.description {
  display: none;
}

@media (min-width: 600px) {
  .card {
    flex-direction: row;
    align-items: flex-start;
    background-color: white;
    h2 {
      text-align: left;
    }
  }

  .description {
    margin-top: 1em;
    display: block;
  }

  .thumbnail-container {
    display: none;
  }
}

@media (min-width: 1440px) {
  .sketchy-thumbnail {
    height: 15em;
    width: 15em;
  }

  .card {
    padding: 2em 4em;

    h2 {
      text-align: left;
    }
  }

  .thumbnail-container {
    display: inline;
  }
}