.sketchy-thumbnail {
  height: 10em;
  width: 10em;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-link {
  overflow: visible;
}

.card {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  gap: var(--spacing-md);
  padding-block: var(--spacing-lg);
  overflow: visible;
  background-color: white;

  h2 {
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-size: 2em;
  }

  .description {
    font-size: 1em;
    margin: 0.125em 0 0 0;
    display: none;
  }

  .thumbnail-container {
    display: inline;  
  }
  
  @media(min-width: 768px) {
    padding-block-start: var(--spacing-md);
    padding-inline: var(--spacing-md);
    
    .description {
      display: block;
    }

    .thumbnail-container {
      display: none;
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;
    padding-inline: var(--spacing-lg);
    justify-content: center;
    .thumbnail-container {
      display: inline;
    };
  }
}

