.sketchy-thumbnail {
  height: 10em;
  width: 10em;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card-link {
  overflow: visible;
}

.card {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  gap: var(--spacing-md);
  padding-block: var(--spacing-lg);
  padding-inline: var(--spacing-md);
  overflow: visible;
  background-color: var(--color-surface);

  h2 {
    font-family: "Indie Flower", cursive;
    font-weight: 500;
    font-size: 2em;
    text-align: center;
  }

  .description {
    font-size: 1em;
    margin: 0.125em 0 0 0;
    display: none;
  }

  .thumbnail-container {
    display: inline;  
  }
  
  @media(min-width: 768px) {
    padding-inline: var(--spacing-lg);
    flex-direction: row;
    
    h2 {
      text-align: left;
    }
    
    .description {
      display: block;
    }

    .thumbnail-container {
      display: inline;
    }
  }

  @media (min-width: 1024px) {
    padding-inline: var(--spacing-lg);
    .thumbnail-container {
      display: inline;
    };
  }
}

