.bottom-panel {
  position: absolute;
  width: 100%;
  inset-block-end: 0;
}

.tabs-container {
  display: flex;
  justify-content: center;
}

.controls-container {
  background-color: var(--color-background);
  transition: all 0.3s ease-in-out;
  position:  relative;
  padding-block-start: var(--spacing-md);
  top: -1em;
  overflow: hidden;

  &.active {
    height: 30vh;
  }

  &.inactive {
    height: 1em;
  }
}