.panel-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.settings-button {
  position: absolute;
  inset-inline-start: var(--spacing-md);
  inset-block-end: var(--spacing-md);
  z-index: 0;

  @media (min-width: 768px) {
    inset-inline-start: var(--spacing-lg);
    inset-block-end: var(--spacing-lg);
  }
}

.settings-icon {
  width: var(--icon-size-xs);
  aspect-ratio: 1/1;

  .span {
    font-size: var(--font-size-lg);
  }
}

.bottom-panel {
  position: absolute;
  bottom: 0;
  width: 100%;

  .leva-custom-container {
    width: 100%;
    background: #fff;
    padding: 1rem;
    overflow-y: auto;
    max-width: 400px;

    @media (min-width: 768px) {
      margin: auto;
      margin-bottom: var(--spacing-lg);
    }

    @media (min-width: 1024px) {
      margin-inline-start: calc(var(--spacing-lg) * 4);
    }
  }
}

.opened {
  transform: translateY(0);
}

.closed {
  transform: translateY(100%);
}