.bottom-panel {
  position: absolute;
  width: 100%;
  inset-block-end: 0;
}

.settings-button {
  position: absolute;
  margin: var(--spacing-lg);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
}

.settings-icon {
  width: var(--icon-size-xs);
  aspect-ratio: 1/1;

  .span {
    font-size: var(--font-size-lg);
  }
}

.tabs-container {
  /* display: flex;
  justify-content: center;
  position: relative; */
}

.controls-container {
  /* background-color: var(--color-surface);
  transition: all 0.3s ease-in-out;
  position:  relative;
  padding-block-end: var(--spacing-lg);
  padding-inline: var(--spacing-lg);

  .tab-panel-container {
   overflow-y: auto;
  }

  .sticky-safe-bar {
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;
    height: 2em;
  }

  &.active {
    height: 30vh;
  }

  &.inactive {
    height: 0em;
  } */
}