.panel-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.settings-button {
  position: absolute;
  inset-inline-start: var(--spacing-md);
  inset-block-end: var(--spacing-md);
  z-index: 1;

  @media (min-width: 768px) {
    inset-inline-start: var(--spacing-lg);
    inset-block-end: var(--spacing-lg);
  }
}

.settings-icon {
  width: var(--icon-size-xs);
  aspect-ratio: 1/1;

  .span {
    font-size: var(--font-size-lg);
  }
}

.bottom-panel {
  position: relative;
  bottom: 0;
  width: 100%;
  user-select: none;
  z-index: 20000000;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: 728px) {
    width: fit-content;
    margin-inline-start: calc(var(--spacing-lg) * 4);
    padding-block-end: var(--spacing-lg);
    gap: var(--spacing-sm);
  }

  @media (min-width: 1024px) {
   flex-direction: row;
  }
  
  .leva-custom-container {
    position: relative;
    background: var(--color-background);
    padding: 1rem;
    height: fit-content;

    @media (min-width: 728px) {
      width: 410px;
    }
  }
}

.opened {
  transform: translateY(0);
}

.closed {
  transform: translateY(calc(100% + 2rem));
}

.noNumberInput :global(input[leva-type="number"]) {
  @media (max-width: 728px) {
    pointer-events: none;
  }
}