.panel-container {
  position: absolute;
  bottom: 0;
}

.settings-button {
  position: absolute;
  inset-inline-start: var(--spacing-md);
  inset-block-end: var(--spacing-md);
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);

  @media (min-width: 768px) {
    inset-inline-start: var(--spacing-lg);
    inset-block-end: var(--spacing-lg);
  }
}

.settings-icon {
  width: var(--icon-size-xs);
  aspect-ratio: 1/1;

  .span {
    font-size: var(--font-size-lg);
  }
}