.sketchy-container-margin {
  margin: var(--spacing-small) 0;
}

.sketchy-trace {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}


.label {
    font-family: Helvetica, Arial;
    position: absolute;
    background: #ffffffff;
    padding: var(--spacing-md);
    white-space: nowrap;
    user-select: none;
}


.interactive-element {

  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }
  &:active {
    transform: translateY(5px);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    transform: none;
  }
 
  &:disabled:hover {
    transform: none;
  }   
}

.interactive-element-small {
  transition: transform 0.15s ease-in-out;
}