:root {
  /* Light theme (default) */
  --color-background: oklch(0.9422 0.01 166.77);
  --color-surface: oklch(1 0.01 166.77);
  --color-text: oklch(0.2101 0.0318 264.66);

  --icon-size-xs: 2.25rem;
  --icon-size-sm: 2.5rem;
  --icon-size-md: 3rem;
  --icon-size-lg: 5rem;
  --icon-size-xl: 6rem;

  --font-size-sm: 1rem;
  --font-size-md: 1.3125rem;
  --font-size-lg: 1.5rem;
  
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: oklch(0.2101 0.01 166.77); /* slate-900 */
    --color-surface: oklch(0.15 0.01 166.77);    /* gray-900 */
    --color-text: oklch(0.9422 0.0318 264.66);       /* gray-200 */
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif; 
  font-size: var(--font-size-sm);
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-background);
  color: var(--color-text);
  overflow-x: hidden;
}

html:has(body > .parent-no-scroll) {
  overflow-y: hidden;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  max-width: 60ch;
  line-height: 1.5;
  text-wrap: pretty;
}

.col {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

.align-items-center {
  align-items: center;
}