:root {
  --color-background: oklch(0.9422 0.01 166.77);


  --font-size-md: 16px;
  
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif; 
  font-size: var(--font-size-md);
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  max-width: 60ch;
}

.row {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-md);
}

.col {
  display: flex;
  flex-direction: column;
}

.relative {
  position: relative;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}