:root {
  --color-background: oklch(0.9422 0.01 166.77);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Code Pro", sans-serif; 
  font-size: 16px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--color-background);
}

a {
  text-decoration: none;
  color: inherit;
}

.p-2 {
  padding: 0.5em 2em;
}


.row {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.relative {
  position: relative;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}